{% extends 'general/primary.html' %}
{% block content %}
    {% load crispy_forms_tags %}
    {% load static %}
    <nav class="mb-5 mt-5">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'general-home' %}">Home</a></li>
            <li class="breadcrumb-item active">{{ event.name }}</li>
        </ol>
    </nav>
    {% if user.display_explanations %}
        <div class="card mt-5">
            <div class="card-header">
                <h5 class="card-title">Event Page</h5>
            </div>
            <div class="card-body">
                <p class="card-text">
                    This is the main page for events, and works as an interactive price sheet.  Here you can see items that are available, or you can add your own if you don't see up yet.
                </p>
                <p class="card-text">
                    The event starts with no items, and you add them from your own price sheet if you'd like to reserve cases of them, or participate in a case split.  Once an item is added, anyone else can interact with it.  Click the name of the item and that will take you to the ordering page for it.
                </p>
                <p class="card-text">
                    The <span class="font-weight-bold">Event Panel</span>  contains order information as well as some other stuff.  We'll briefly go over each of them:
                <ul class="list-group">
                <li class="list-group-item">
                    <span class="font-weight-bold">Event Chat</span> - This is where you can read messages from all other partipants in the event, as well as post your own.
                </li>
                <li class="list-group-item">
                    <span class="font-weight-bold">My Order</span> - This is your total sheet, outlining the quantity and total of reserved cases and reserved items from case splits (which will be explained on the item page).
                </li>
                <li class="list-group-item">
                    <span class="font-weight-bold">Order Summary</span> - This is the master order sheet for the entire event.  It lists each of the items with reserved cases, their subtotals, and the event total.  Note that organizers can optionally restrict this view.
                </li>
                <li class="list-group-item">
                    <span class="font-weight-bold">User Breakdown</span> - This is similar to the order summary, except it goes over each item, displaying which members have cases of it, and if there were any case splits, how case pieces are allocated.  Like the Order Summary, this view can also be restricted.
                </li>
                <li class="list-group-item">
                    <span class="font-weight-bold">Leave Event</span> - This will remove you from the group and remove all of your case buys and case splits.  Please be aware you'll no longer have any access to the event, and the only way you can rejoin is if an event organizer adds you again!
                </li>
            </ul>
                </p>
                <hr/>
                <p class="card-text text-muted">These instructions can be disabled on the top right under your username.</p>
            </div>
        </div>
    {% endif %}
    {% if membership.is_organizer %}
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="card mb-5 mt-5 border-primary">
                    <div class="card-header">
                        <h3 class="card-title">Organizer Panel</h3>
                    </div>
                    <div class="card-body col text-center">
                        <a class="btn btn-primary m-2" href="{% url 'events-manage-users' event.id %}" role="button">Manage Users</a>
                        <a class="btn btn-primary m-2" href="{% url 'events-manage-payments' event.id %}" role="button">Manage Payments</a>
                        <a class="btn btn-primary m-2" href="{% url 'events-settings' event.id %}" role="button">Event Settings</a>
                        <hr/>
                        <p class="card-text text-muted">This is only visible to event organizers.</p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if event.is_closed %}
        <div class="alert alert-info text-center mt-5 mb-5" role="alert">
            This event has concluded.  All order information and chat has been locked.
        </div>
    {% elif event.is_locked %}
        <div class="alert alert-info text-center mt-5 mb-5" role="alert">
            This event has been locked by the event organizers.  This is usually done in preparation of wrapping everything up.  All case buys and case splits have been locked and cannot be changed.  Event chat still works.
        </div>
    {% endif %}
    <div class="row justify-content-around">
        {% if not event.is_locked and not event.is_closed %}
            <div class="col-6">
            <div class="card mt-5 mb-5">
                <div class="card-header">
                    <h3 class="card-title">Create New Item</h3>
                </div>
                <div class="card-body">
                    <form method ='POST'>
                        {% csrf_token %}
                        <fieldset class="form-group">
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-info" type="submit">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}
        </div>
        <div class="col-6">
            <div class="card mb-5 mt-5">
                <div class="card-header">
                    <h3 class="card-title">Event Panel</h3>
                </div>
                <div class="card-body">
                    <a class="btn btn-success m-2" href="{% url 'events-chat' event.id %}" role="button">
                        {% if event.get_total_comments == 1 %}
                            <img src="{% static "events/img/dialogue.svg" %}" width="20" height="20" title="1 Comment" alt="" loading="lazy">
                        {% else %}
                            <img src="{% static "events/img/dialogue.svg" %}" width="20" height="20" title="{{ event.get_total_comments }} Comments" alt="" loading="lazy">
                        {% endif %}
                        Event Chat
                    </a>
                    <a class="btn btn-success m-2" href="{% url 'events-my-order' membership.event.id user.id %}" role="button">My Order</a>
                    {{ event.users_can_see_master_overview }}
                    {% if membership.is_organizer or membership.user.is_staff or event.users_full_event_visibility %}
                        <a class="btn btn-info m-2" href="{% url 'events-order-summary' event.id %}" role="button">Order Summary</a>
                        <a class="btn btn-info m-2" href="{% url 'events-order-breakdown' event.id %}" role="button">User Breakdown</a>
                    {% endif %}
                    <button type="button" class="btn btn-warning m-2" data-toggle="modal" data-target="#leaveModal">
                        Leave Event
                    </button>
                </div>
            </div>
        </div>
    </div>
    {% if event_data.item_groups %}
        <div class="container">
            {% for item_group in event_data.item_groups %}
                <h3 class="mt-5 mb-3">{{ item_group.0 }}</h3>
                <hr/>
                <table class="table table-hover mt-4">
                    <thead>
                    <tr>
                        <th scope="col">Item Name</th>
                        <th scope="col">Packing</th>
                        <th scope="col">Case Price</th>
                        <th scope="col">Price / Piece</th>
                        <th scope="col">Active Case Splits</th>
                        <th scope="col">Cases Reserved</th>
                        <th scope="col">Pieces Reserved</th>
                        <th scope="col">Item Total</th>
                        {% if membership.user.is_staff or membership.is_organizer %}
                            <th scope="col">Delete Item</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in item_group.1 %}
                        {% if item.are_active %}
                            <tr class="table-success">
                                {% else %}
                            <tr>
                        {% endif %}
                    <th scope="row">
                        <a href="{% url 'events-item' event.id item.id %}">{{ item.name }}</a>
                        {% if item.item_youtube_videos %}
                            {% if item.item_youtube_videos == 1 %}
                                <img src="{% static "events/img/youtube.svg" %}" class="ml-1 d-inline-block align-top" width="15" height="15" title="1 Youtube Video" alt="" loading="lazy">
                            {% else %}
                                <img src="{% static "events/img/youtube.svg" %}" class="ml-1 d-inline-block align-top" width="15" height="15" title="{{ item.item_youtube_videos}} Youtube Videos" alt="" loading="lazy">
                            {% endif %}
                        {% endif %}
                        {% if item.item_comments %}
                            {% if item.item_comments == 1 %}
                                <img src="{% static "events/img/dialogue.svg" %}" class="ml-1 d-inline-block align-top" width="18" height="18" title="1 Item Comment" alt="" loading="lazy">
                            {% else %}
                                <img src="{% static "events/img/dialogue.svg" %}" class="ml-1 d-inline-block align-top" width="18" height="18" title="{{ item.item_comments }} Item Comments" alt="" loading="lazy">
                            {% endif %}
                        {% else %}
                        {% endif %}
                    </th>
                    <td>{{ item.packing }} / 1</td>
                    <td>${{ item.case_price }}</td>
                    <td>${{ item.piece_price }}</td>
                    {% if item.active_case_splits > 0 %}
                        <td class="font-weight-bold">{{ item.active_case_splits}}</td>
                    {% else %}
                        <td class="text-muted">---</td>
                    {% endif %}
                    {% if item.cases_you_bought > 0 %}
                        <td class="font-weight-bold">{{ item.cases_you_bought }}</td>
                    {% else %}
                        <td class="text-muted">---</td>
                    {% endif %}
                    {% if item.pieces_reserved_from_splits > 0 %}
                        <td class="font-weight-bold">{{ item.pieces_reserved_from_splits }}</td>
                    {% else %}
                        <td class="text-muted">---</td>
                    {% endif %}
                    {% if item.your_total_price > 0 %}
                        <td class="font-weight-bold">${{ item.your_total_price }}</td>
                    {% else %}
                        <td class="text-muted">---</td>
                    {% endif %}
                    {% if membership.user.is_staff or membership.is_organizer %}
                        <td><a href="{% url 'events-item-delete' event.id item.id %}"><img src="{% static "events/img/delete.svg" %}" width="20" height="20" alt="" loading="lazy"></a></td>
                    {% endif %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-info text-center" role="alert">
            {% if event.is_locked or event.is_closed %}
                No items were created for this event.
            {% else %}
                No items created (yet!)... use the <span class="font-weight-bold">Create New Item</span> panel above to get started.
            {% endif %}
        </div>
    {% endif %}
    <div class="modal fade" id="leaveModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Leave {{ event.name }}?</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to leave {{ event.name }}?  Any case buys or case splits you were involved in will be removed... this cannot be undone!  The only way you can re-access this event again is if an organizer invites you.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger m-1" href="{% url 'events-leave' event.id %}" role="button">Leave</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}