{% extends 'general/primary.html' %}
{% block content %}
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'general-home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'events-event' event_id=event.id %}">{{ event.name }}</a></li>
            <li class="breadcrumb-item active">{{ title }}</li>
        </ol>
    </nav>
    {% if user.display_explanations %}
            <div class="card mt-5 mb-5">
                <div class="card-header">
                    <h5 class="card-title">Event Settings</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        placeholder
                    </p>
                    <hr/>
                    <p class="card-text text-muted">These instructions can be disabled on the top right under your username.</p>
                </div>
            </div>
    {% endif %}
    have mt-5 here for nav (?)
{% endblock %}