{% extends 'general/primary.html' %}
{% load static %}
{% block content %}
    {% if user.is_authenticated %}
        {% if user.display_explanations %}
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Your Events</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">
                       Welcome to Group Buy Organizer!  Quickly organize group buys, keep track of individual and group totals, and manage payments.  These instructions are to quickly get you up to speed with using the app.
                    </p>
                    <p class="card-text">
                        This is the homepage of the app.  Here you'll see group buy events that are available to you.  For your privacy and others, only events that you were invited to will you be able to access.  If you're looking to join an active event, contact one of the organizers and give them your username.  Once they add you, you'll have immediate access to the event.  If you're looking to organize your own event, click the <span class="text-success">Create New Event</span> button below.
                    </p>
                    <p class="card-text">
                        By default, you're added to a sample event with dummy users and data.  Check it out to get a quick grasp on how everything works.  The event is open so you're able to freely interact with it.  Add items, reserve cases, and try out case splits.  More about this is explained there.
                    </p>
                    <p class="card-text">
                        The groups can be in three different states:
                    <ul class="list-group">
                        <li class="list-group-item"><span class="badge badge-success">Open</span> - You can actively add items, and make changes to your order.</li>
                        <li class="list-group-item"><span class="badge badge-warning">Locked - Pending Completion</span> - The event is locked by the organizers.  All items and pieces in your order are frozen and can't be edited.  May be changed by the organizer back to "open."</li>
                        <li class="list-group-item"><span class="badge badge-secondary">Complete</span> - The same as locked, except signalling the event has concluded.  Once complete, the event cannot be re-opened.</li>
                    </ul>
                    </p>
                    <hr/>
                    <p class="card-text text-muted">These instructions can be disabled on the top right under your username.</p>
                </div>
            </div>
        {% endif %}
        <div class="container text-center">
            <a class="btn btn-success mb-5 mt-5" href="{% url 'events-create' %}" role="button">Create New Event</a>
        </div>
        {% if memberships %}
            {% if memberships|length == 1 %}
                <h3>1 Event Available:</h3>
            {% else %}
                <h3>{{ memberships|length }} Events Available:</h3>
            {% endif %}
            {% for membership in memberships %}
                {% if not membership.event.is_locked %}
                    <div class="card mt-5 border border-success">
                {% elif membership.event.is_locked and not membership.event.is_closed %}
                    <div class="card mt-5 border border-warning">
                {% else %}
                    <div class="card mt-5 border border-secondary">
                {% endif %}
            <div class="card-header">
                {% if not membership.event.is_locked and not membership.event.is_closed %}
                    <span class="badge badge-success float-left m-2">Open</span>
                {% elif membership.event.is_closed %}
                    <span class="badge badge-secondary float-left m-2">Complete</span>
                {% elif membership.event.is_locked %}
                    <span class="badge badge-warning float-left m-2">Locked - Pending Completion</span>
                {% endif %}
                {% if membership.is_organizer %}
                    <a class="btn btn-primary float-right m-1" href="#" role="button">Edit Event</a>
                {% endif %}
                {% if membership.is_organizer or membership.event.users_can_see_master_overview %}
                    <a class="btn btn-info float-right m-1" href="#" role="button">User Breakdown</a>
                    <a class="btn btn-info float-right m-1" href="#" role="button">Order Summary</a>
                {% endif %}
                <a class="btn btn-success float-right m-1" href="#" role="button">My Order</a>
                <a class="btn btn-success float-right m-1" href="{% url 'events-chat' membership.event.id %}" role="button">
                    {% if membership.event.get_total_comments == 1 %}
                        <img src="{% static "events/img/dialogue.svg" %}" width="20" height="20" class="d-inline-block align-top" title="1 Comment" alt="" loading="lazy">
                    {% else %}
                        <img src="{% static "events/img/dialogue.svg" %}" width="20" height="20" class="d-inline-block align-top" title="{{ membership.event.get_total_comments }} Comments" alt="" loading="lazy">
                    {% endif %}
                    Event Chat
                </a>
                <h3 class="font-weight-bold mb-3">
                    <a href="{% url 'events-event' membership.event.id %}">{{ membership.event.name }}</a>
                    {% if membership.is_organizer %}
                        <img src="{% static "events/img/crown.svg" %}" width="30" height="30" class="d-inline-block align-top" title="You're an organizer of this event." alt="" loading="lazy">
                    {% endif %}
                    {% if membership.check_if_active_buys_or_commits %}
                        <img src="{% static "events/img/box.svg" %}" width="30" height="30" class="d-inline-block align-top" title="You are active in this event." alt="" loading="lazy">
                    {% endif %}
                </h3>
                <h6 class="card-subtitle mt-3 mb-4">{{ membership.event.description }}</h6>
                <h6 class="card-subtitle mb-2 text-muted">Created {{ membership.event.date_created|date:'M d, Y'}} by {{ membership.event.created_by.username }}</h6>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Partipicants</th>
                        <th scope="col">Active Case Splits</th>
                        {% if membership.is_organizer or membership.event.users_can_see_master_overview %}
                            <th scope="col">Total Cases Reserved</th>
                            <th scope="col">Total Case Cost</th>
                        {% endif %}
                        <th scope="col">Added Charges</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ membership.event.get_active_participants }}</td>
                        <td>{{ membership.event.get_active_case_splits }}</td>
                        {% if membership.is_organizer or membership.event.users_can_see_master_overview %}
                            <td>{{ membership.event.get_total_cases }}</td>
                            <td>{{ membership.event.get_event_total }}</td>
                        {% endif %}
                        <td>${{ membership.event.extra_charges }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-light text-center" role="alert">
                There are no group buy events available to you.  Either <a href="{% url 'events-create' %}">create one
                yourself</a>, or have someone invite you to theirs with your username.
            </div>
        {% endif %}
    {% else %}
        <div class="alert alert-light text-center" role="alert">
            Welcome to Group Buy Organizer!  Please log in or register to use the application, or click "About" or
            "Updates" to learn more.
        </div>
        <div class="mb-5 mt-5 text-center">
            <p>Placeholder for overview</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Mg-Nksc7Oh0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="mb-5 mt-5 text-center">
            <p>Placeholder for how to use</p>
        </div>
    {% endif %}
{% endblock %}