{% extends 'general/primary.html' %}
{% load static %}
{% block content %}
    {% load humanize %}
    {% if user.is_authenticated %}
            <nav class="mt-5">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Home</li>
        </ol>
    </nav>
        {% if user.display_explanations %}
            <div class="card mt-5">
                <div class="card-header">
                    <h5 class="card-title">Your Events</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">
                       Welcome to Group Buy Organizer!  Quickly organize group buys, keep track of individual and group totals, and manage payments.  These instructions are to quickly get you up to speed with using the app.
                    </p>
                    <p class="card-text">
                        Before we jump into the home page, lets quickly talk about some user functionality.  By clicking your username on the top right of the navigation bar, you can do a few different things.  Toggling <span class="font-weight-bold">Night Mode</span> changes the site to a dark theme, great for low light reading or power consumption on mobile devices (it looks cool too).  Most of the pages contain instructions such as these; these too can be toggled with the <span class="font-weight-bold">Explanations</span> button.  Finally <span class="font-weight-bold">Change Password</span> does exactly what it says it does.
                    </p>
                    <p class="card-text">
                        This is the homepage of the app.  Here you'll see group buy events that are available to you.  For your privacy and others, only events that you were invited to will you be able to access.  If you're looking to join an active event, contact one of the organizers and give them your username.  Once they add you, you'll have immediate access to the event.  If you're looking to organize your own event, click the <span class="text-success">Create New Event</span> button below.
                    </p>
                    <p class="card-text">
                        By default, you're added to a sample event with dummy users and data.  Check it out to get a quick grasp on how everything works.  The event is open so you're able to freely interact with it.  Add items, reserve cases, and try out case splits.  More about this is explained there.
                    </p>
                    <p class="card-text">
                        The groups can be in three different states:
                    <ul class="list-group">
                        <li class="list-group-item"><span class="badge badge-success">Open</span> - You can actively add items, and make changes to your order.</li>
                        <li class="list-group-item"><span class="badge badge-warning">Locked - Pending Completion</span> - The event is locked by the organizers.  All items and pieces in your order are frozen and can't be edited.  May be changed by the organizer back to "open."</li>
                        <li class="list-group-item"><span class="badge badge-secondary">Complete</span> - The same as locked, except signalling the event has concluded.  Once complete, the event cannot be re-opened.</li>
                    </ul>
                    </p>
                    <hr/>
                    <p class="card-text text-muted">These instructions can be disabled on the top right under your username.</p>
                </div>
            </div>
        {% endif %}
        <div class="text-center">
            <a class="btn btn-info mb-5 mt-5" href="{% url 'events-create' %}" role="button">Create New Event</a>
        </div>
        {% if memberships %}
            {% if memberships|length == 1 %}
                <h3>1 Event Available:</h3>
            {% else %}
                <h3>{{ memberships|length }} Events Available:</h3>
            {% endif %}
            {% for membership in memberships %}
                {% if not membership.event.is_locked %}
                    <div class="card mt-5 border border-success">
                {% elif membership.event.is_locked and not membership.event.is_closed %}
                    <div class="card mt-5 border border-warning">
                {% else %}
                    <div class="card mt-5 border border-secondary">
                {% endif %}
            <div class="card-header">
                {% if not membership.event.is_locked and not membership.event.is_closed %}
                    <span class="badge badge-success float-left m-2">Open</span>
                {% elif membership.event.is_closed %}
                    <span class="badge badge-secondary float-left m-2">Complete</span>
                {% elif membership.event.is_locked %}
                    <span class="badge badge-warning float-left m-2">Locked - Pending Completion</span>
                {% endif %}
                {% if membership.is_organizer %}
                    <a class="btn btn-primary float-right m-1" href="{% url 'events-settings' membership.event.id %}" role="button">Event Settings</a>
                    <a class="btn btn-primary float-right m-1" href="{% url 'events-manage-payments' membership.event.id %}" role="button">Manage Payments</a>
                    <a class="btn btn-primary float-right m-1" href="{% url 'events-manage-users' membership.event.id %}" role="button">Manage Users</a>
                {% endif %}
                <a class="btn btn-success float-right m-1" href="{% url 'events-my-order' membership.event.id user.id %}" role="button">My Order</a>
                <a class="btn btn-success float-right m-1" href="{% url 'events-chat' membership.event.id %}" role="button">
                    {% if membership.event.get_total_comments == 1 %}
                        <img src="{% static "events/img/dialogue.svg" %}" width="20" height="20" title="1 Comment" alt="" loading="lazy">
                    {% else %}
                        <img src="{% static "events/img/dialogue.svg" %}" width="20" height="20" title="{{ membership.event.get_total_comments }} Comments" alt="" loading="lazy">
                    {% endif %}
                    Event Chat
                </a>
                <h3 class="font-weight-bold mb-3">
                    <a href="{% url 'events-event' membership.event.id %}">{{ membership.event.name }}</a>
                    {% if membership.is_organizer %}
                        <img src="{% static "events/img/crown.svg" %}" width="30" height="30" class="d-inline-block align-top" title="You're an organizer of this event." alt="" loading="lazy">
                    {% endif %}
                    {% if membership.check_if_active_buys_or_commits %}
                        <img src="{% static "events/img/box.svg" %}" width="27" height="27" class="d-inline-block align-top" title="You are active in this event." alt="" loading="lazy">
                    {% endif %}
                </h3>
                <h6 class="card-subtitle mt-3 mb-4">{{ membership.event.description }}</h6>
                <h6 class="card-subtitle mb-2 text-muted">Created <abbr title='{{ membership.event.date_created }} Central'>{{ membership.event.date_created|naturaltime }}</abbr> by {{ membership.event.created_by.username }}</h6>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Partipicants</th>
                        <th scope="col">Active Case Splits</th>
                        {% if membership.is_organizer or membership.event.users_can_see_master_overview %}
                            <th scope="col">Total Cases Reserved</th>
                        {% endif %}
                        <th scope="col">Added Charges</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ membership.event.get_active_participants }}</td>
                        <td>{{ membership.event.get_active_case_splits }}</td>
                        {% if membership.is_organizer or membership.event.users_can_see_master_overview %}
                            <td>{{ membership.event.get_event_total }}</td>
                        {% endif %}
                        <td>${{ membership.event.extra_charges }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-info text-center" role="alert">
                There are no group buy events available to you.  Either <a href="{% url 'events-create' %}">create one
                yourself</a>, or have someone invite you to theirs with your username.
            </div>
        {% endif %}
    {% else %}
        <div class="alert alert-info text-center mt-5 mb-5" role="alert">
            Welcome to Group Buy Organizer!  Please log in or register to use the application, or click "About" or
            "Updates" to learn more.
        </div>
        <div class="card">
            <div class="card-header text-center">
                <h1>Streamline fireworks group buys</h1>
            </div>
            <div class="card-body">
                <p class="card-text">Group buys are a great way to purchase fireworks.  You save a lot of money buying wholesale, and you can split cases with other people.  However, its always come at the cost of inconvenience both for the organizers and for the participants themselves.  Deciding on cases to split, setting up case splits with members, or changing your mind on your order could be an endless back and forth.</p>
                <p class="card-text">pyrogroupbuys.com changes all of that.  Host and run large group buys in a fraction of the time!  Rather than accounting for complex orders and changes, this tracks all of that for you.  Partipicants can add and modify their orders, which will instantly update a master summary of items.</p>
                <p class="card-text">
                    Heres a quick overview of the features:
                    <ul>
                        <li><span class="font-weight-bold">Event System:</span>  Have complete control of your group buy event.  All events are invite-only, making them only visible and accessible to people you allow in.  Assign other members as organizers as well.  Freeze any changes made to the order once you're ready to wrap up the event.</li>
                        <li><span class="font-weight-bold">Built-in Tutorial:</span>  An in-page tutorial walks you through how to use this, getting you up to speed to quickly using this in as little time as possible.</li>
                        <li><span class="font-weight-bold">Items:</span>  Items available for purchase are displayed in tables with all of their core information (name, packing, price, price per piece and more) and organized by category, making it as easy to navigate as a price sheet.</li>
                        <li><span class="font-weight-bold">Built-in Item Chat and Youtube Demos:</span>  Talk about various items, and share demo videos of them which automatically embed on the page.</li>
                        <li><span class="font-weight-bold">Built-in Event Chat:</span>  The event itself has its own chat area as well, for sharing important event information, coordinating case splits, or whatever else.</li>
                        <li><span class="font-weight-bold">Case Buy System:</span>  Order whole cases quickly and easily.  Any changes to quantity get instantly added to the member's order page, as well as the event summary adding up all of the cases in the event.</li>
                        <li><span class="font-weight-bold">Case Split System:</span>  Coordinating case splits are now a lot easier and faster.  Case splits work by you pledging some amount of pieces inside of the case, and others doing the same.  Once all of the pieces in a case are accounted for, only then will that case get "locked in" to everyone's order.</li>
                        <li><span class="font-weight-bold">Manage Participant Payments:</span>  Organizer-only view seeing the member's total of both their case buys and case splits, and tracking if they have paid you or not yet.</li>
                        <li><span class="font-weight-bold">Multiple Order Views:</span>  You get several views of the event's order.  Aside from the individual orders of everyone else, you also get a summary of the entire event showing how many cases there are of each item, but a breakdown showing how each of the items allocates to members, whether through case buys or case splits.</li>
                        <li><span class="font-weight-bold">Export To PDF:</span>  All of the order views have built in functionality to export the pages to PDF.  Have an extra copy detailing your order or event, or just to archive past events off site.</li>
                        <li><span class="font-weight-bold">Night Mode:</span>  Optionally use the application with a darker theme, good for saving energy on mobile devices and it looks cool too.</li>
                        <li><span class="font-weight-bold">And more... </span>  Aside from stuff not mentioned, more features will be added over time as we approach the next season in 2021.</li>
                    </ul>
                </p>
                <p class="card-text">
                    <span class="font-weight-bold"><a href="{% url 'register' %}">Register today</a> </span> and give the service a try.  All new registrations are automatically added to a sample event to interact with and see how the app works.
                </p>
            </div>
        </div>

    {% endif %}
{% endblock %}